@media screen and (min-width:768px) and (max-width:1279px){
    .order {
        display: block;
    }
    .order-pic {
        display: block;
        height: auto;
        width: min-content;
        padding:117px 123px 79px 100px;
    }
    .order-items-text-alt-container{
        display: block;
        width: 100%;
        height: auto;
    }
    
/* organic vegetables part tablet css */

.organic-vegetables {
    min-width: 768px;
    max-width: 1279px;
}

.container-vegetables {
    padding: 0;
    margin: 0;
}

.vegetables-ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    gap: 28px;
}

.vegetables-list {
    width: 342px;
    height: 379px;
}

.organic-section-title {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 228px;
}

.organic-section-text {
    width: 626px;
    gap: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 110px;
}
}   
