@media screen and (min-width:375px) {
    .body {
        display: flex;
        justify-content: unset;
        counter-reset: section;
    }

    /* HERO-HEADER-START */
    .nav-bar-menu {
        display: none;
    }

    .nav-bar {
        padding: 20px 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav-bar-logo-square {
        display: flex;
        gap: 4px;

    }

    .hero {
        padding-top: 48px;
        margin-top: -2px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
    }

    .hero-alt-text {
        padding: 0 20px 40px 20px;
    }

    .hero-alt-text-title {
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.015em;
        text-transform: uppercase;
        padding-bottom: 20px;
        color: rgba(251, 251, 251, 1);
    }

    .hero-alt-text-instruction {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: rgba(251, 251, 251, 1);
    }

    .hero-alt-img {
        background-image: url(/green-harvest-hero-image.jpg);
        min-height: 370px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* HERO-HEADER-END */

    

    /*Review Customers mobile  */

    .customer-container {
        background-color: white;
        padding: 80px 20px 80px 20px;
    }

    .review {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
        

    .review-p-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .customer-title {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.015em;
        text-align: left;
        width: 89%; 
    }

    .span-title {
        font-size: 48px;
        color: rgba(87, 111, 53, 1);
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.015em;
        text-align: left; 
        width: 89%; 
    }
      
    .customer-text { 
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color:rgba(20, 20, 20, 1);
        padding-left: 20px;
        padding-right: 20px;
    }


    .customer-ul {
        display: flex;
        flex-direction: column ;
        align-items: center;

    }

    .customer-ul>.customer-list{
        width:calc((100% - 72px) / 1);  
    }

    .customer-list{
        display: flex;
        justify-content: center;
        gap: 18px;
       
    }
       
    .customer-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 16px 20px 16px;
        border-radius: 24px;
        border: 1px solid #7A31454D;
        color: rgba(251, 251, 251, 1);
        gap: 18px;
    }
      
      .customer-list-container .img-list {   
        display: flex;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        gap: 8px;
        margin-bottom: 16px;
        
      }

    .customer-list-container-p{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
      
    .customer-list-title {
        
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(4, 3, 6, 1);
        display: flex; 
    }
      
      .customer-list-description {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        color: rgba(20, 20, 20, 0.4);
      }

    .customer-ul li:nth-child(2), 
    .customer-ul li:nth-child(3){
        display: none;
    }


    /* */

    .order {
        display: flex;
        flex-direction: column;

    }

    .order-pic {
        background-color: rgba(122, 49, 69, 1);
        padding: 40px 20px 40px 20px;
        gap: 10px;



    }

    .order-pic-alt {
        width: 100%;
        border-radius: 30px;
        height: 450px;
        object-fit: cover;

    }

    .order-title {
        display: none;
    }

    .order-items-text-alt-container {

        padding: 80px 20px 80px 20px;
        gap: 40px;
        background: rgba(87, 111, 53, 1);


    }

    .order-items {
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .order-items-text-alt {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }



    .highlight {
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(251, 251, 251, 1);



    }

    .subdued {
        color: rgba(251, 251, 251, 0.3);

        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;

    }

    .order-items-text-alt-content-item {
        font-family: Inter Tight;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color: rgba(251, 251, 251, 1);


    }

    .order-items-steps-alt {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .order-items-steps-alt-list-item {

        padding: 12px 27px 12px 24px;
        gap: 10px;
        border-radius: 15px;
        background: rgba(251, 251, 251, 1);
        counter-increment: section;

    }

    .order-items-steps-alt-list-item-div {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .order-items-png {
        width: 52px;
        height: 52px;

    }

    .order-list-p {
        color: rgba(20, 20, 20, 0.6);

        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.02em;


    }

    .order-list-p-span {
        color: rgba(20, 20, 20, 1);
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: -0.02em;


    }

    .list-li-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 52px;
        min-height: 52px;
        border: 5px solid rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        background-color: rgba(122, 49, 69, 1);
        color: rgba(251, 251, 251, 1);


        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;




    }

    .list-li-counter::before {

        content: counter(section) "";


    }


    /* Discount up to */

    .discount-up-to{ 
        display: flex;
        gap:10px;
        padding: 80px 10px 80px 10px;
        background-color:rgba(251, 251, 251, 1);   
        text-transform: uppercase;
    }
    .discount-p{     
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.015em;
        color: rgba(20, 20, 20, 1);
    }
    .discount-span{    
        font-size: 48px;
        font-weight: 600;
        border-radius: 12px;
        background-color: rgba(87, 111, 53, 1);
        color: rgba(251, 251, 251, 1);
        border-radius: 12px;
        display: inline-block;  
    }


    /* FRESH-HARVESTT-BOX-FORM-START*/
        .your-order-container {
            padding: 80px 20px 80px 20px;
            gap: 40px;
            background-color: #7a3145;
            display: flex;
            flex-direction: column;
        }
    
        .layout-container {
            display: flex;
            flex-direction: column;
            gap: 29px;  
        }
    
        .layout-one {
            width: 751px;
            height: 128px;
        }
    
        .fresh-harvest {
            font-size: 48px;
            font-weight: 600;
            line-height: 50px;
            letter-spacing: -0.015em;
            color: #fbfbfb;
        }
    
        .fresh-harvest-span {
            font-size: 48px;
            font-weight: 600;
            line-height: 50px;
            letter-spacing: -0.015em;
            color: #fbfbfb4d;
        }
    
        .fresh-harvest-text {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            color: #fbfbfb;
        }
    
        .form-div-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .form-box {
            display: flex;
            flex-direction: column;
            padding: 40px 20px 40px 20px;
            border-radius: 30px;
            background: rgba(251, 251, 251, 1);
        }
        .from-us {
            color: #7a3145;
            font-size: 24px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: -0.015em;
        }
        .order-text{
            font-size: 24px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: -0.015em;
            padding: 40px 20px 40px 20px;
        }
        .form{
            display: flex;
                gap: 20px;
        }
        .form-text-div {
            width: 429px;
            height: 434px;
            gap: 50px;
        }
        .the-form {
            color: #576f35;
        }
        .form-input-container {
            width: 429px;
            height: 434px;
            gap: 50px;
        }
    
        .form-class {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
        }
    
        .form-input {
            display: flex;
            padding: 14px 0 14px 16px;
            gap: 10px;
            border-radius: 30px;
            border: 1px solid rgba(20, 20, 20, 0.2);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.02em;
        }
        .form-input:hover,
        .form-input:focus{
            border: 1px solid rgba(122, 49, 69, 1)
        }
        .text-area {
            display: flex;
            padding: 14px 20px 59px 16px;
            gap: 10px;
            border-radius: 15px;
            border: 1px;
            border: 1px solid rgba(20, 20, 20, 0.2);
            font-family: Inter Tight;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.02em;
        }
    
        .button {
            padding: 16px 129px 16px 129px;
            border-radius: 30px;
            background: #576f35;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: -0.015em;
            color: rgba(251, 251, 251, 1);
            border: none;
        }
    
        ::placeholder {
            color: #141414;
            font-family: Inter Tight;
            font-size: 16px;
            font-weight: 500px;
            line-height: 20px;
            letter-spacing: -0.02em;
        }
    
        .link-box {
            display: flex;
            flex-direction: column;
            padding: 40px 20px 40px 20px;
            gap: 20px;
            border-radius: 30px;
            background: rgba(87, 111, 53, 1);
            color: rgba(20, 20, 20, 0.3);
        }
    
        .image {
            border-radius: 15px;
        }
    
        .social-links {
            display: flex;
            flex-direction:column;
            gap: 14px;
        }
    
        .follow-us {
            font-family: Inter Tight;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: -0.015em;
            text-align: left;
            color: rgba(251, 251, 251, 0.5);
        }
    
        .links-ul {
            list-style-type: none;
            
            flex: auto;
            
        }
    
        .links-list {
            
            font-size: 24px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: -0.015em;
        }
    
        .links-list a {
            color: #fbfbfb;
            text-decoration: none;
            padding-right: 8px;
        }
    
        .links-list span {
            color: #fbfbfb;
            width: 9px;
            height: 26px;
                
        }
    /* FRESH-HARVESTT-BOX-FORM-END*/



    /* Footer Mobile */

    .footer{
        background: rgba(122, 49, 69, 1);
        padding: 40px 20px 40px 20px;
       
    }


    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 80px;
    }

    .footer-container-logo{
        gap: 14px;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .icon-footer{
        display: flex;
        color: rgba(251, 251, 251, 1);    
        gap:5px;
    }

    .footer-logo{ 
        gap: 4px;
        color: white;
    }

    .footer-text{
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color: rgba(251, 251, 251, 1);
        width: 78%;
    }

    .footer-menu{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer-menu-li{ 
        gap: 14px;
      
    }
    .footer-menu-list{
        display: flex;
        flex-direction: column;
        gap:25px;
    }

   .footer-menu-li-p{
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(251, 251, 251, 1);  
   }

    .footer-contact{
    gap: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    }

    .footer-contact a{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(251, 251, 251, 1);
        text-decoration: none;
    }

    .contact-p{         
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.015em;
        color: rgba(251, 251, 251, 1);
        width: 179px;
        height: 36px;
    }


    .footer-privacy{  
        display: flex;
        justify-content: space-between;
    }

    .footer-privacy-left{ 
        display: flex;
        gap: 8px;
    }

    .footer-privacy-right{
        display: flex;
        align-items: center;
        gap: 8px;

    }

    .privacy-left-p{
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(251, 251, 251, 0.5);
    }

    .privacy-right-p{
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(251, 251, 251, 0.5);
    }



/* ORGANIC-VEGETABLES-STARTS */



.container-vegetables {
    display: flex;
    flex-direction: column;
    padding: 80px 20px 80px 20px;
    gap: 40px;
}

.organic-section-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #FBFBFB;
}

.organic-highlight {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: rgba(240, 220, 220, 0.5);
}

.organic-section-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #FBFBFB;
}

.vegetables-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
}

.vegetables-list {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    padding: 32px 26px 32px 26px;
    gap: 10px;
    border-radius: 40px;
}

.vegetables-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-transform: lowercase;
    color: #7A3145;
}

.vegetables-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1.5;
    text-transform: uppercase;
    color: #141414;
}

.vegetables-section-img-container {
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
}
/* ORGANIC-VEGETABLES-END */
}