@media screen and (max-width:767px){
    .body{
        display: flex;
        justify-content: unset;
    }
    .order {
            display: flex;
            flex-direction: column;
            
            justify-content: center;
        }
        .try{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    .order-pic {
        display: block;
        height: auto;
        width: min-content;
        padding: 117px 123px 79px 100px;
    }
    .order-pic-alt{
        display: flex;
        align-items: center;
    }

    
        .order-items-text-alt-container {
            padding-right: 100%;
            background-color: #576F35;
            z-index: 2;
            display: flex;
        }
        
        /* organic vegetables part mobile css */
    
        .organic-vegetables {
            min-width: 320px;
            max-width: 767px;
            width: 110%;
        }
    
        .container-vegetables {
            padding: 0;
            margin: 0;
        }
    
        .vegetables-ul {
            display: block;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 20px;
        }
    
        .organic-section-title {
            justify-content: center;
            padding-top: 80px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    
        .organic-section-text {
            width: 335px;
            justify-content: center;
            gap: 20px;
            padding-bottom: 50px;
            padding-left: 32px;
            padding-right: 110px;
        }


        /*Review Customers mobile  */

        .customer-container{
            padding:80px 20px 80px 20px;
          }

        
          .customer-title{
            width: 75%;
            
          }

          .customer-text{
            flex-wrap: wrap;
            width: 70%;   
        }  

        .customer-ul{
            display: block;
            flex-direction: column;
            /* margin-left: 0px;
            padding-left: 0px;   */
          }

        
}