@media screen and (min-width:1280px) {
/* HEADER-HERO-COMPUTER */
.nav-bar {
   display: flex;
   flex-direction: row;
    padding-right: 100px;
    padding-left: 100px;
    z-index: 90;
    position: relative;
    width: 100%;
  }

  .hero {
    padding: 0;
    top: -92px;
    position: relative;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .nav-bar-alt {
    display: none;
  }

.nav-logo{
  display: flex;
  justify-content: left;
  width: 50%;
}

  .nav-bar-menu {
    display: flex;
    justify-content:right;
    width: 50%;

  }

  .nav-bar-menu-list {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-bar-menu-list-item {
    display: flex;
    padding: 12px;
    margin: 8px;
    gap: 10px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid rgba(251, 251, 251, 0.4)
  }

  .nav-bar-menu-list-item-text {
    text-decoration: none;
    color: rgba(251, 251, 251, 1);
    text-transform: capitalize;
  }

  .nav-bar-menu-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 30px;
    background-color: rgba(122, 49, 69, 1);
    cursor: pointer;
    width: 157px;
    height: 52px;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: rgba(251, 251, 251, 1);
  }

  .hero-alt-text {
    padding-top: 238px;
    padding-left: 100px;
    padding-right: 28px;
    /* max-width: 50%; */
    display: flex;
    gap: 128px;
    flex-direction: column;
    width: 50%;
  }

  .hero-alt-text-instruction {

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .imageClass{
    width: 50%;
  }
  .hero-alt-img {
    object-fit:cover;
    width: 100%;
   
    /* max-width: 720px; */
  }

  .hero-alt-text {
    flex: 1 1 50%;
  }

  /* HEADER-HERO-COMPUTER-END */





  /* Order picture */
    .order {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .order-pic {
        width: 50%;
        padding: 100px;
    }

    .order-items-text-alt-container {
        width: 50%;
        padding: 100px 100px 160px 100px;
    }

    .order-pic-alt {
        width: 100%;
        height: 100%;
    }


  /*  Organic vegetables */

.organic-vegetables {
  padding: 100px;
  gap: 50px;
  width: 100%;
  background-color: #7A3145; 
}

.container-vegetables-title{
  width: 48%;
  gap: 25px;
}

.organic-section-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgba(251, 251, 251, 1); 
}

.organic-highlight {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.015em;
  text-align: left;
  display: block;
  color: rgba(240, 220, 220, 0.5);
}

.organic-section-text { 
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(251, 251, 251, 1); 
}

.organic-vegetables-container{
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 21px;
  width: 100%;
}

.vegetables-list {
  display: flex;
  justify-content: left;
  padding: 32px;
  gap: 10px;
  border-radius: 40px;
  width: calc((100% - 21px) / 3); 
  background-color: rgba(251, 251, 251, 1);
}

.organic-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 81%;
  gap: 10px;
}

.organic-p{
  width: 36%;
  gap:12px;
  display: flex;
  flex-direction:column;
  justify-content: left;
}

.vegetables-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: lowercase;
  color: #7A3145;
}

.vegetables-text { 
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgba(20, 20, 20, 1);
}

/* .vegetables-section-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
}   */

.organik-img{
  align-items: center;
}



/* Discount up to */

  .discount-up-to{  
    padding: 100px;
    gap: 10px;
    display: flex;
}

.discount-p{  
    font-size: 76px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.015em;
}

.discount-span{
  font-size: 76px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.015em;
  width: auto;
  padding-left: 12px;
}

/*Review Customers Desktop  */

.customer-container {
    padding: 100px;
}
   

.review-p-container {
    display: flex;
    gap: 25px;
}

.customer-title {
    font-size: 64px;
    line-height: 64px;
}

.span-title {
    font-size: 64px;
    line-height: 64px;
    width: 43%;
}
      
.customer-text { 
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color:rgba(20, 20, 20, 1);
    width: 43%;    
}


.customer-ul {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

.customer-ul>.customer-list{
    width:calc((100% - 72px) / 3);  
}

.customer-list{
    display: flex;
    justify-content: column;
    padding: 20px 0px 0px 0px;
    gap: 8px;  
}
       
.customer-list-container {
    gap: 24px;
}
      
.customer-list-container .img-list {  
    display: flex;
    align-items: center;
    gap: 8px;    
}

.customer-list-container-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
      
.customer-list-title {
    font-size: 18px;
    line-height: 19.8px;
    color: rgba(4, 3, 6, 1);
    display: flex; 
}
      
.customer-list-description {
    font-size: 16px;
    line-height: 22.4px;
    text-align: center; 
}


.customer-ul li:nth-child(2), 
.customer-ul li:nth-child(3){
    display: flex;
}


  /* YOUR ORDER Mobile Tasarım */

  .your-order-container{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 0px 0px;
    width: 100%;
}

.layout-container{ 
    padding-left: 100px;
    gap:25px;
    width: 50%;
}


#form-div-container{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 100px;
    gap: 25px;
    width: 90%; 
}

.form-box{
  flex-basis: calc(100% / 1); 
  width:50%;
}

    /*form*/
.form{
    width: 100%;
}

.form-input{
  padding: 16px 346px 16px 16px;
  border-radius: 30px; 
  border: 1px solid rgba(20, 20, 20, 0.2);
  margin-bottom: 15px;
}

.text-area{  
  padding: 16px 345px 59px 16px;
  border: 1px solid rgba(20, 20, 20, 0.2);  
}


.link-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: calc(100% / 1); 
width: 50%;
    padding: 50px;
    gap: 50px; 
   
}

.image{
    border-radius: 15px;
    object-fit:cover;
    width: 100%;
 
}

.social-links{
    padding-top: 14px;
}

.follow-us{ 
    font-size: 18px; 
    line-height: 20px;
    padding-bottom: 14px;
}

.links-ul{
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 88%;
}

.links-ul a{
    font-size: 23px;
    line-height: 32px;  
}



    /* Footer Desktop */
 

.footer-contact {

    padding-top: 32px;
}

.footer-menu {
    flex-direction: row;
}

.footer {
    margin-top: -1px;
}

.footer-menu {
    gap: 121px;
    width: 50%;
}

.footer-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    max-width: 265px;
}

.footer-container-logo {
    padding-left: 100px;
}

.footer-privacy {
    padding: 0 100px 50px 100px;
}

.modal-menu{
  display: none;
}

}