@media screen and (min-width:1280px) {
    .order {
        flex-direction: row;
        justify-content: center;
        width: 100%;

    }

    .order-pic {
        width: 50%;
        padding: 100px;


    }

    .order-items-text-alt-container {
        width: 50%;
        padding: 100px 100px 160px 100px;

    }

    .order-pic-alt {

        width: 100%;
        height: 100%;


    }


    /*Review Customers mobile  */

    .customer-container {
        padding: 100px;
    }
   

    .review-p-container {
        display: flex;
        gap: 25px;
    }

    .customer-title {
        font-size: 64px;
        line-height: 64px;
    }

    .span-title {
        font-size: 64px;
        line-height: 64px;
        width: 43%;
    }
      
    .customer-text { 
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        color:rgba(20, 20, 20, 1);
        width: 43%;    
    }


    .customer-ul {
        display: flex;
        flex-direction: row;
        gap: 25px;    
    }

    .customer-ul>.customer-list{
        width:calc((100% - 72px) / 3);  
    }

    .customer-list{
        display: flex;
        justify-content: column;
        padding: 20px 0px 0px 0px;
        gap: 8px;
       
    }
       
    .customer-list-container {
       gap: 24px;
       
    }
      
      .customer-list-container .img-list {  
        display: flex;
        align-items: center;

        gap: 8px;    
    }

    .customer-list-container-p{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
      
    .customer-list-title {
        font-size: 18px;
        line-height: 19.8px;
        color: rgba(4, 3, 6, 1);
        display: flex; 
    }
      
      .customer-list-description {
        font-size: 16px;
        line-height: 22.4px;
        text-align: center; 
      }


      .customer-ul li:nth-child(2), 
    .customer-ul li:nth-child(3){
        display: flex;
    }


    /* Discount up to */

    .discount-up-to{  
        padding: 100px;
        gap: 10px;
        display: flex;
    }
    .discount-p{  
        font-size: 76px;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: -0.015em;
    }

    .discount-span{
    font-size: 76px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.015em;
    width: auto;
    padding-left: 12px;
    }
    .footer-contact{

        padding-top:32px;
    }
    .footer-menu{
                flex-direction: row;
    }
    .footer-container-logo{
        width:22%;
    }
    .footer{
        max-width:1280px;
    }

}