@media screen and (min-width:768px)  and (max-width:1279px) {
    .body {
        display: flex;
        justify-content: unset;
    }
    .order {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-pic {
        display: block;
        height: auto;
        width: min-content;
        padding:117px 123px 79px 100px;
    }
    .order-items-text-alt-container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

        /* organic vegetables part tablet css */
    
        .organic-vegetables {
            min-width: 768px;
            max-width: 1279px;
            width: 150%;
        }
    
        .container-vegetables {
            padding: 0;
            margin: 0;
        }
    
        .vegetables-ul {
            display: flex;
            flex-wrap: wrap;
            padding-left: 32px;
            padding-right: 32px;
            gap: 28px;
        }
    
        .vegetables-list {
            width: 342px;
            height: 379px;
        }
    
        .organic-section-title {
            padding-top: 100px;
            padding-bottom: 50px;
            padding-left: 32px;
            padding-right: 228px;
        }
    
        .organic-section-text {
            width: 626px;
            gap: 50px;
            padding-bottom: 50px;
            padding-left: 32px;
            padding-right: 110px;
        }


        /* Review Customers*/

       
        .customer-container{
            min-width: 768px;
            max-width:1279px ;
            padding:0px 0px 0px 0px;
        }

          
        .customer-title{
            display: block; 
            width:80%;
            text-align: left;
            padding-top: 100px;
            padding-left: 32px;
            /* margin:0px 0px 25px 0px; */
        }   
    
        .customer-text{
            width: 70%;
            padding-left: 32px;
            
        } 
        
        .customer-list{
            padding-right: 17px;
            
          }  
        .customer-ul{
            display: flex;
          
            flex-wrap: wrap;
      
            /* padding-left: 32px;   */
          }
         
         .customer-list-container{
            display: block;
            justify-content:space-around;
            flex-wrap: wrap;
            
            
          }  

          
        
}   